.admin-container {
  grid-area: main;
  padding: 20px 20px;
  color: #c7c7c7;
  font-size: 1rem;
}

.admin-title {
  display: flex;
  justify-content: space-between;
}
main {
  width: 100%;
  padding: 20px;
}

.admin-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.admin-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 20px;
  height: 90px;
  width: 220px;
  border: solid #333333 2px;
  background-color: #1e1c1c;
  border-radius: 8px;
}
.admin-card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-card-inner > .card_icon {
  font-size: 25px;
}
